body    {
    background: black;
}

.main  {
    background: white; 
    width: 400px; 
    height: 475px; 
    margin: auto;
    position: absolute;
    top: 10%; left: 35%;
    padding: none; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 8px;
    align-self: center;
}

.image {
    align-content: center; 
    max-width: 450px; 
}

.header {
    display: block;
}

.left-header {
    /* float: left; */
    padding-left: 10px; padding-bottom: 8px;
    font-size: 35px;
    display: inline-block;
    width: 5%;
}

.top-header {
    padding-top: 5px;
    padding-left: 14px; 
    font-size: 9px;
    display: inline-block   ;
    width: 40%; text-align: left;
}
.right-header {
    float: right; 
    padding-right: 10px; padding-top: 20px;
    font-size: 14px;
    display: inline-block   ;
    width: 5%;
}
.icons {
    display: block; 
    padding-top: 5px;
}

.left-icons {
    width: 90%; 
    display: inline-block; 
    font-size: 20px; 
    padding-left: 5px;
}

.right-icon {
    width: 5%; 
    display: inline-block; 
    font-size: 20px;
}

.footer {
    font-size: 14px; 
    padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
